/*
* START Fonts
*/
@font-face {
  font-family: 'prelo-semi';
  src: url('fonts/PreloSlab-SemiBold.otf');
}
/*
* END Fonts
*/

/*
* START Allgemeine Klassen
*/

.hidden {
  display: none;
}
.marginTopMedium {
  margin-top: 25px;
}
.marginBottomMedium {
  margin-bottom: 25px;
}

/*
* END Allgemeine Klassen
*/

/*
* START KALENDER
*/
.sfm_calendar_container {
  /*padding: 10px 40px;*/
}
.sfm_calendar_container .sfm_calendar_inner {
  text-align: center;
}
.sfm_calendar_container .sfm_calendar_element {

  display: inline-block;
  width: 120px;

  color: #fff;
  font-size: 28px;
  text-align: center;
  height: 120px;
  line-height: 65px;
  font-family: prelo-semi;
  border-radius: 10px;
  vertical-align: top;
  position: relative;
  margin: 5px;


  overflow: hidden;

}
.sfm_calendar_container .sfm_calendar_element.openedToday {
    cursor: pointer;
}


.sfm_calendar_container .sfm_calendar_element:hover {
  -webkit-box-shadow: 6px 30px 75px 8px rgba(0,0,0,0.5);
  -moz-box-shadow: 6px 30px 75px 8px rgba(0,0,0,0.5);
  box-shadow: 6px 30px 75px 8px rgba(0,0,0,0.5);
z-index: 2;
}

.hoverEffect {
  -webkit-box-shadow: 6px 30px 75px 8px rgba(0,0,0,0.5);
  -moz-box-shadow: 6px 30px 75px 8px rgba(0,0,0,0.5);
  box-shadow: 6px 30px 75px 8px rgba(0,0,0,0.5);
z-index: 2;
}


.sfm_calendar_container .sfm_calendar_element .sfm_left {
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #EC008B;
  overflow: hidden;

  /*background-color: #EC71B0;
  -ms-transition: left 0.5s;
  -o-transition: left 0.5s;
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;*/
}
.sfm_calendar_container .sfm_calendar_element .sfm_right {
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #EC008B;
  overflow: hidden;
  /*left: 75px;
  background-color: #EC71B0;
  -ms-transition: left 0.5s;
  -o-transition: left 0.5s;C
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  transition: left 0.5s;*/
}
.sfm_calendar_container .sfm_calendar_element.opened .sfm_left, .sfm_calendar_container .sfm_calendar_element.opened .sfm_right {
  display: none;
}


.sfm_calendar_container .sfm_calendar_element.opened .sfm_left, .sfm_calendar_container .sfm_calendar_element.opened .sfm_right, .sfm_inner_content.openedToday, .sfm_inner_content.toBeOpened {
  display: none;
  /*transform: scale(0);
  transition: all 5s;*/
}
/*.sfm_calendar_element {
    transform: scale(0);
}
.sfm_calendar_element.animate {
  transform: scale(1);
}*/



/*.sfm_calendar_container .sfm_calendar_element:hover .left { left: -75px; }
.sfm_calendar_container .sfm_calendar_element:hover .right { left: 150px; }*/



/*.sfm_calendar_container .sfm_calendar_element:hover .left, .sfm_calendar_container .sfm_calendar_element:hover .right  {
  -ms-transition: left 1s;
  -o-transition: left 1s;
  -webkit-transition: left 1s;
  -moz-transition: left 1s;
  transition: left 1s;
}
*/


.sfm_calendar_container .sfm_calendar_element .element_inner {
  position: absolute;
  width: 73px;
  height: 65px;
  border: 4px solid #fff;
  top: 50%;
  left: 50%;
  margin-left: -49px;
  margin-top: -32px;
}

.sfm_calendar_container .sfm_calendar_element .sfm_left .element_inner {
  margin-left: -11px;
}

.sfm_calendar_container .sfm_calendar_element .sfm_right .element_inner {
  margin-left: -71px;
}



.sfm_calendar_container .sfm_calendar_element .element_schleife {
  display: inline-block;
  margin-top: 10.5px;
}
.sfm_calendar_container .sfm_calendar_element .element_schleife img {
    width: 64px;
}
.sfm_calendar_container .sfm_calendar_element .sfm_left .element_schleife {
  display: inline-block;
  margin-top: 3.5px;
  left: 50%;
  position: absolute;
  width: 50px;
  margin-left: 6px;
}
.sfm_calendar_container .sfm_calendar_element .sfm_right .element_schleife {
  display: inline-block;
  margin-top: 3.5px;
  left: 50%;
  position: absolute;
  width: 50px;
  margin-left: -54px;
}

.sfm_single_item_full {
  display: none;
}

/*
* END KALENDER
*/



/*
* Start Form *
*/

.sfm_form_container .sfm_form input.sfm_input, #sfm_form_send, .sfm_form_container .sfm_form input.sfm_input:focus::-webkit-input-placeholder {

	-webkit-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.sfm_form_container .sfm_form input.sfm_input {

	margin: 1% 0% 0 8%;
	width: 360px;
	padding: 20px;
	display: block;
	float: left;
	border: none;
	background: -webkit-linear-gradient(rgba(255,255,255,0) 99%, #EB6CA3 1%);
	background: linear-gradient(rgba(255,255,255,0) 99%, #EB6CA3 1%);

	background-color: #fff;
	background-size: 0 100%;
	background-repeat: no-repeat;
	color: #333333;
}

.sfm_form_container .sfm_form input.sfm_input:focus, .sfm_form_select:focus {

	outline: none;
	background-size: 100% 100%;
	background-color: #fff !important;
}

.sfm_form_container .sfm_form input.sfm_input:focus::-webkit-input-placeholder {

	font-size:11px;
	font-weight: 600;
	-webkit-transform: translateY(-15px);
	transform: translateY(-15px);
	visibility: visible !important;
	color: #EB6CA3;

}

/* Die Selectbox */

.sfm_form_select {

	display:block;
	margin: 1% 11% 0 13%;
	padding: 20px;
	float: left;
	color: #333 !important;
	background: -webkit-linear-gradient(rgba(255,255,255,0) 99%, #EB6CA3 1%);
	background: linear-gradient(rgba(255,255,255,0) 99%, #EB6CA3 1%);
	background-size: 0 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Die Form Checkbox*/

.sfm_form_checkbox {

	float: left;
	display: inline-block;
	margin: 3% 0% 0% 8%;

}

#sfm_form_checkboxid { opacity: 0; }

.sfm_form_btn {

	float:left;
	width: 40px;
	height: 20px;
	background: #e5e5e5;
	position: relative;
	border-radius: 10px;
}

.sfm_form_btn:before {

	content: "";
	position: absolute;
	height: 16px;
	width: 16px;
	background: #fff;
	left: 2px;
	top: 2px;
	transition: all 150ms ease-out;
	border-radius: 10px;

}

/*Funktion um die Checkbox zu switchen*/

input[type=checkbox]:checked + .sfm_form_btn:before { left: 22px; }

input[type=checkbox]:checked + .sfm_form_btn { background: #72BF44; }

/* Checkbox Beschreibung */

.sfm_form_checkbox label {

	font-weight: 400 !important;
	margin-left: 10px;
	font-size: 13px;
}

/* Senden Button */

#sfm_form_send {

	background: #72BF44;
	border: none;
	color: #fff;
	width: 170px;
	padding: 15px;
	margin: 2% 10% 0% 10%;
	cursor: pointer;
	text-transform: uppercase;
	font-weight:600;
	left: 40%;
	letter-spacing: 0.075em;
	transform: translateX(-50%);
}

#sfm_form_send:hover {

	background: #EC008C !important;


}

#sfm_form_send:focus {

	background: #FF28A5 !important;


}

/* Abschlussmeldung */

.sfm_form_abschlusscreen {
	text-align: center;
	display: none;
}

.sfm_form_abschlusscreen span {

	color: #EB6CA3;
	font-weight: 600;
}


.parsley-errors-list {

	display: none;

}

.sfm_anmeldentext {
	/* background: rgba(114,191,68,0.8); */
	/*background: rgba(153,153,153,0.8); */
	padding: 3% 0 1% 0 !important;
	margin: 0 0 1% 0 !important;

}

/*
* End Form *
*/




/* ####### Mobile Anpassungen #########*/


@media screen and (max-width: 600px) {

	h2 { text-align: center;}
	.sfm_form_btn { margin: 0 2% 0 5%; }
	.sfm_form_checkbox label { margin-left: 10%; }
}
